<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

  </configSections>
  <connectionStrings>
    <add name="ColorGameConnectionString" connectionString="Network Address=localhost;Initial Catalog=ColorGame;
         Persist Security Info=true;User Name='root'; Password='root123';"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>